{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Remontées services' %}

{% block styles_more %}
    {{ parent() }}
    <link rel="stylesheet" href="./style/bloc-global.css" type="text/css" />
    <link rel="stylesheet" href="./style/bloc-global-sliders.css" type="text/css" />
    <link rel="stylesheet" href="./style/bloc-m-remontee-service.css" type="text/css" />
    <link rel="stylesheet" href="./style/bloc-o-remontees-services.css" type="text/css" />
{% endblock %}
{% block scripts_more %}
    {{ parent() }}
    <script type="text/javascript" src="./script/tiny-slider.js"></script>
    <script type="text/javascript" src="./script/bloc-o-remontees-services.js"></script>
    <script type="text/javascript" src="./script/bloc-global-sliders.js"></script>
{% endblock %}

{% block main %}

    <div class="sg-container-content">
        {% include "../../styleguide/component/3-organism/o-sg-block-title.twig" with {
            blockSubTitle: "Blocs",
            blockTitle: title
        } %}

        <div class="sg-block-space">
            <h2>{{ title }} (< 4 éléments)</h2>

            {% embed "../component/3-organism/o-sg-prism.twig" with { prismLarge: true } %}
                {% block embedToInclude %}
                    {% include "../../site/blocs/3-organism/o-paragraph--service-push.twig" with {
                        paragServicePushTitle: title ~ " (< 4 éléments)",
                        paragServicePushDesc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, corporis consequatur sapiente sequi quasi molestias placeat ullam excepturi nobis voluptas veniam amet dolor eligendi odio numquam possimus? Qui, dignissimos fuga",
                        teasers: [
                            {
                                teaserTitle: "Nom service ANS 1",
                                teaserSubtitle: "Conformité",
                                teaserDesc: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>",
                                teaserLink: "#"
                            },
                            {
                                teaserTitle: "Nom service ANS 2",
                                teaserSubtitle: "Cybersécurité",
                                teaserLink: "#"
                            },
                            {
                                teaserTitle: "Nom service ANS 3 Lorem ipsum dolor sit amet",
                                teaserSubtitle: "Interopérabilité",
                                teaserDesc: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>",
                                teaserLink: "#"
                            }
                        ],
                        paragServicePushLinks: [
                            {
                                style: "style1",
                                color: "white",
                                link: "#",
                                text: "Lien interne"
                            }
                        ]
                    } %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="sg-block-space">
            <h2>{{ title }} (+ 4 éléments)</h2>
            <p>Le slider se lance s'il y a plus de 4 éléments.</p>

            {% embed "../component/3-organism/o-sg-prism.twig" with { prismLarge: true } %}
                {% block embedToInclude %}
                    {% include "../../site/blocs/3-organism/o-paragraph--service-push.twig" with {
                        paragServicePushTitle: title ~ " (+ 4 éléments)",
                        teasers: [
                            {
                                teaserTitle: "Nom service ANS 1",
                                teaserDesc: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>",
                                teaserLink: "#"
                            },
                            {
                                teaserTitle: "Nom service ANS 2",
                                teaserLink: "#"
                            },
                            {
                                teaserTitle: "Nom service ANS 3 Lorem ipsum dolor sit amet",
                                teaserDesc: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>",
                                teaserLink: "#"
                            },
                            {
                                teaserTitle: "Nom service ANS 4",
                                teaserDesc: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>",
                                teaserLink: "#"
                            },
                            {
                                teaserTitle: "Nom service ANS 5",
                                teaserLink: "#"
                            },
                            {
                                teaserTitle: "Nom service ANS 6",
                                teaserDesc: "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>",
                                teaserLink: "#"
                            }
                        ],
                        paragServicePushLinks: [
                            {
                                style: "style1",
                                color: "white",
                                link: "#",
                                text: "Lien interne"
                            }
                        ]
                    } %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="sg-block-space wysiwyg">
            <h2>Mise en place</h2>
            <p>Charger les CSS suivantes :</p>
            <ul>
                <li>CSS du Système de Design</li>
                <li><a href="./style/bloc-global.css" target="_blank" class="file-link">CSS globale pour les blocs (1,9Ko - CSS)</a></li>
                <li><a href="./style/bloc-global-sliders.css" target="_blank" class="file-link">CSS globale pour les sliders (3,8Ko - CSS)</a></li>
                <li><a href="./style/bloc-m-remontee-service.css" target="_blank" class="file-link">CSS de la carte Remontée Service (0,58Ko - CSS)</a></li>
                <li><a href="./style/bloc-o-remontees-services.css" target="_blank" class="file-link">CSS du bloc {{ title }} (0,58Ko - CSS)</a></li>
            </ul>
            <p>Charger les JS suivants :</p>
            <ul>
                <li>JS du Système de Design</li>
                <li><a href="./script/tiny-slider.js" target="_blank" class="file-link">Librairie JS tiny-slider (32,4Ko - JS)</a></li>
                <li><a href="./script/bloc-o-remontees-services.js" target="_blank" class="file-link">JS du bloc {{ title }} (0,13Ko - JS)</a></li>
                <li><a href="./script/bloc-global-sliders.js" target="_blank" class="file-link">JS global pour les sliders (1,2Ko - JS)</a></li>
            </ul>
        </div>
    </div>

{% endblock %}