{# Need JS for accessibility #}
{% set counter = counter|default(1) %}

{% if navItems %}
<ul class="navbar-nav nav-lvl--{{ counter }}">
    {% for item in navItems %}
        <li class="nav-item {%- if item.isActive %} is-active{% endif %} common-nav-item">
            {# Item has children #}
            {% if item.hasChild %}
                {% if item.link %}
                    <a class="nav-link" href="{{ item.link }}"{% if item.target %} target="{{ item.target }}"{% endif %}>
                        {{- item.text -}}
                        {%- if item.isActive %} <span class="sr-only">(page courante)</span>{% endif -%}
                    </a>
                {% endif %}

                {# Item has href + is collapsed, add button to show/hide children #}
                {% if item.link and item.isCollapsed %}
                    <button class="btn nav-btn-collapse" type="button"
                        data-toggle="collapse"
                        data-target="#{{ navName }}-nav-collapse-submenu-{{ loop.parent.loop.index }}-{{ loop.index0 }}"
                        aria-controls="{{ navName }}-nav-collapse-submenu-{{ loop.parent.loop.index }}-{{ loop.index0 }}"
                        aria-expanded="false"
                        data-is-opened-text="Fermer"
                        data-is-closed-text="Déplier"
                    >
                        <span class="sr-only"><span class="nav-btn-collapse-action">Déplier</span> la rubrique {{ item.text }}</span>
                    </button>
                {% endif %}

                {# Item has no href + is not collapsed #}
                {% if not item.link and not item.isCollapsed %}
                    <span class="nav-title">
                        {{- item.text -}}
                    </span>
                {% endif %}

                {# Item has no href + is collapsed #}
                {% if not item.link and item.isCollapsed %}
                    <button class="nav-link" type="button"
                        data-toggle="collapse"
                        data-target="#{{ navName }}-nav-collapse-submenu-{{ loop.parent.loop.index }}-{{ loop.index0 }}"
                        aria-controls="{{ navName }}-nav-collapse-submenu-{{ loop.parent.loop.index }}-{{ loop.index0 }}"
                        aria-expanded="false"
                    >
                        {{- item.text -}}
                        {%- if item.isActive %} <span class="sr-only">(page courante)</span>{% endif -%}
                    </button>
                {% endif %}

                {% if item.isCollapsed %}
                    <div class="collapse nav-collapse" id="{{ navName }}-nav-collapse-submenu-{{ loop.parent.loop.index }}-{{ loop.index0 }}" {%- if navItemsParent %} data-parent="{{ navItemsParent}}"{% endif %}>
                        <div class="nav-collapse-inner">
                {% endif %}

                        {% include "navbar-nav.twig" with {
                            counter: counter + 1,
                            navItems: item.hasChild,
                        } %}

                {% if item.isCollapsed %}
                        </div>
                    </div>
                {% endif %}

            {# Item has an href + no children #}
            {% else %}
                <a class="nav-link" href="{{ item.link }}"{% if item.target %} target="{{ item.target }}"{% endif %}>
                    {{- item.text -}}
                    {%- if item.isActive %} <span class="sr-only">(page courante)</span>{% endif -%}
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}